* {
    margin: 0;
    padding: 0;
}
#time-table{
    height: 70vh;
}

table,
th,
td {
    border: 0.2vmin solid rgb(19, 19, 117);
    text-align: center;
    background-color: rgb(229, 242, 245);
    border-spacing: 0.5vmin;
}

th,
td {
    padding: 0.7vmin;
    font-size: 120%;
}

h1,
h3 {
    text-align: center;
    color: rgb(19, 19, 117);
    text-decoration: 0.2vmin underline;
    font-family: algerian;
}
.container{
    margin-top: 5vmin;
    margin-bottom: 3vmin;
    height: 40vh;
    display: grid;
    grid-template-columns: 3fr 1fr;
    place-items: center;
}
table {
    width: 80%;
    height: 100%;
    border-collapse: collapse;
}
.empty{
    height: 100%;
    width: 100%;
    background-image: url('books_icon.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
}

th {
    background-color: rgb(181, 227, 170);
    font-family: broadway;
    color: rgb(47, 8, 84);
    font-weight: 12;
}

td {
    font-family: High Tower Text;
    background-color: rgb(191, 242, 254);
}
@media(max-width:1100px){
    table{
        width: 90%;
        height: 100%;
        font-size: 65%;
    }
}
fieldset {
    border: 8px dotted rgb(19, 19, 117);
    height: 68vh;
}

h1 {
    font-size: 4vmin;
}

#nav ul {
    margin-left: 10vw;
    margin-top: 2vmin;
    width: 60vw;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

li {
    font-family: forte;
    font-size: 3.5vmin;
}


#nav {
    display: flex;
}

#bookslot {
    font-family: forte;
    background-color: #333;
    text-align: center;
}
.heading {
    text-align: center;
    color: #f08a00;
}
.msg_container{
    background: radial-gradient(#fdb76d, #f08a00);
    text-align: center;
    letter-spacing: 0.5mm;
    font-size: large;
    padding: 2vmin;
}
.circular-slider {
    background: radial-gradient(#fdb76d, #f08a00);
    height:59vh;
    padding: 1vmin;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;

}
.slider {
    height: 60vmin;
    width: 60vmin;
    position: relative;
}
.indicator {
    position: absolute;
    top: 40%;
    left: 40%;
    height: 40vmin;
    width: 40vmin;
    border: 2px #fff solid;
    transform:translate(-37%,-38%) rotate(0deg);
    border-radius: 50%;
}
.slider button{
    position: relative;
    top: 40%;
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #351270;
    color: #C8C6D7;
    border-radius: 1rem;
    border: none;
}
.slider button:hover{
    background-color: #e0e03a;
    color: #6453e9;
}
.slider button:active{
    font-size: 1rem;
}

.indicator-fill {
    position: absolute;
    top: 60%;
    left: 48%;
    width: 2vmin;
    height: 2vmin;
    background-color: #1642f3;
    border-radius: 50%;
    z-index: 1;
}
.slider .menu_items {
    position: absolute;
    top: 46%;
    left: 39%;
    transform: translate(-50%, -50%);
    height: 5vmin;
    width: 12vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu_items:hover{
    background-color : #ccc;
    cursor: pointer;
}
.slider div:nth-child(1) {
    transform: rotate(-90deg) translate(25vmin)rotate(90deg);
}

.slider div:nth-child(2) {
    transform: rotate(-148deg) translate(25vmin)rotate(90deg);
}

.slider div:nth-child(3) {
    transform: rotate(153deg) translate(24vmin)rotate(90deg);
}

.slider div:nth-child(4) {
    transform: rotate(90deg) translate(22vmin)rotate(90deg);
}

.slider div:nth-child(5) {
    transform: rotate(28deg) translate(24vmin)rotate(90deg);
}

.slider div:nth-child(6) {
    transform: rotate(-32deg) translate(25vmin)rotate(90deg);
}

.section {
    background: radial-gradient(#fdb76d, #f08a00);
    height: 23vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5vh 1fr 1fr;
    place-items: center;
}
.section h1{
    grid-column-start: 1;
    grid-column-end: 4;
}
.box,.button{
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box div{
    display: none;
    color:white;
    font-size: 1.25rem;
}
.section button{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #351270;
    color: #C8C6D7;
    border-radius: 1rem;
    border: none;
    display: none;
}
.section button:hover{
    background-color: #e0e03a;
    color: #6453e9;
}
.section button:active{
    font-size: 1rem;
}
/* ---------------------------------------------------------------------------------------------- */

.popup {
    width: 40vw;
    height: 40vh;
    background: #fff;
    border-radius: 6vmin;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 2vmin 2vmin ;
    color: #333;
    visibility: hidden;
    transition: transform 200ms;
    z-index: 2;
}
.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(0.7);
}
.popup img {
    width: 10vw;
    margin-top: -50%;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0.2);
}
.popup h2 {
    font-size: 5rem;
    font-weight: 500;
    margin: 1vmin 0 1vmin;
}
.popup p {
    font-size: 2rem;
}
.popup button{
    border-radius: 6vmin;
    width: 100%;
    margin-top: 15vmin;
    padding: 3vmin 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 3vmin;
    border-radius: 10vmin;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0.2);
}
/* ---------------------------------------------------------------------------------------------- */
